# Object files
*.o
*.ko
*.obj
*.elf
.idea/*

# Snakemake
.snakemake
dot_plot/*


# Precompiled Headers
*.gch
*.pch

# Libraries
lib/*
*.lib
*.a
*.la
*.lo


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
bin/*
example
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#data
data/*
*.dot
*.png

#tags
tags
cscope.*
